<template>
    <v-container>
        <Products />
    </v-container>
</template>

<script>
import Products from '@/components/ShopProducts';

export default {
    name: "Main",
    components: {
        Products
    },
}
</script>

<style scoped>

</style>