<template>
    <div class="products">
        <p v-for="product in products" :key="product.id">
            {{ product }}
        </p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Products',
    computed: {
        ...mapGetters('products', [
            'products'
        ])
    },
    created() {
        console.log(this.$store)
    }
}
</script>